{% extends 'base.html.twig' %}

{% block title %}Voyages{% endblock %}

{% block body %}
    <center>
    <h1>Voyages</h1>

    <table class="table" border="3">
        <thead>
            <tr >
                <th><h6>Id</h6></th>
                <th><h6>Destination</h6></th>
                <th><h6>Prix</h6></th>
                <th><h6>Periode</h6></th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.Destination }}</td>
                <td>{{ voyage.Prix }}</td>
                <td>{{ voyage.Periode }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </center>
{% endblock %}
