{% extends 'front.html.twig' %}

{% block body %}
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

<script type="text/javascript">
    window.onload = function() {
        L.mapquest.key = '6HMgfP8mVONqlKcMfL5ayTR44TfhS0cl';

        var map = L.mapquest.map('map', {
            center: [0, 0],
            layers: L.mapquest.tileLayer('map'),
            zoom: 14
        });

        L.mapquest.geocoding().geocode('{{event[0].destination}}');
    }
</script>
<div id="map" style="rwidth: 500px; height: 400px;"></div>
{% endblock %}