{% block form %}
 <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12" style="margin-bottom:24px;">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">                                
                                
                            <div class="widget-content widget-content-area" style="height: 571px;">
                                <form method="post">
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="id_res">Id_res</label>
                                                <input type="number" class="form-control" name="id_res" id_re4="id_res" placeholder="Id_res">
                                            </div>
                                            <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="Nombre_personne">Nombre_personne</label>
                                                <input type="number" class="form-control" name="nombre_personne" Nombre_personne="nombre_personne" placeholder="nombre_personne">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="Date_debut">Date_debut</label>
                                                <input type="Date_debut" class="form-control" Date="Date_debut" name="Date_debut" placeholder="Date_debut">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="Date_fin">Date_fin</label>
                                                <input type="Date_fin" class="form-control" Date="Date_debut" name="Date_fin" placeholder="Date_fin">
                                            </div>
                                        
                                    <center>  <button type="submit" class="btn btn-primary mt-3 class="btn">{{ button_label|default('Ajouter') }}</button>
                                      <a type="submit" class="btn btn-primary mt-3" href="{{ path('ReservationVol_index') }}">back to list</a></center>
                                    </form>
                            </div>
                        </div>
                    </div>
                     
                  
{% endblock %}