{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {% for e in evenements %}


        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset("/uploads/#{e.image}") }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{ e.Categorie.description }} {{ e.prix }} {{ e.nom }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}