{% extends 'front.html.twig' %}
{% block body %}

    <div class="row">
        {% for v in vols %}


        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
            
                <div class="card-body">
                    <p class="card-text">{{v.id }} </p>
                    <p class="card-text"> {{v.date ? v.date|date('Y-m-d H:i:s') : ''}}</p>
                     <p class="card-text">{{v.prix }} </p>
                      <p class="card-text">{{v.nbplace }} </p>
                    

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}