{% extends 'base.html.twig' %}

{% block title %}Edit Voyage{% endblock %}

{% block body %}
    <center>
    <h1>Edit Voyage</h1>

    {{ include('voyage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('voyage_index') }}"><button type="submit" class="btn btn-primary mt-3" class="btn" class="btn">back to list</button></a>

    {{ include('voyage/_delete_form.html.twig') }}
    </center>
{% endblock %}
