{% block body %}
<h1>Les Reservations du vol</h1>    

    <center><table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre du personne</th>
                <th>Date Reservation</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        {% for ReservationVol in ReservationVols %}
            <tr>
            
                <td>{{ ReservationVol.id }}</td>
                <td>{{ ReservationVol.getNombrePersonne() }}</td>
                <td>{{ ReservationVol.getDateRes() ? ReservationVol.getDateRes()|date('Y-m-d H:i:s') : '' }}</td>
                 <td>{{ ReservationVol.getVols().getId() }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</center>
      
{% endblock %}
