{% extends 'front.html.twig' %}

{% block body %}
 
    <div class="row">
    

        {% for d in destinations %}


        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
            
                <div class="card-body">

                    <p class="card-text">{{d.id }} </p>
                    <p class="card-text"> {{d.date ? d.date|date('Y-m-d H:i:s') : ''}}</p>
                     <p class="card-text"><a href="{{path('maps',{'id':d.id})}}"<button type="button" class="btn btn-success" id="nom">{{ d.nom }}</button></a></p>
                    

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}